  <div class="footer">
    <div class="contact">
      Andreas Bihlmaier &ltandreas.bihlmaier@gmx.de&gt
    </div>
    <div class="rss">
      <a href="/feed.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" height=20px/>
      </a>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox(
          {
          closeClick : true
          }
        );
    });
    function endsWith(str, suffix) {
          return str.indexOf(suffix, str.length - suffix.length) !== -1;
    }
    $("a").each(function(index) {
        if (endsWith($(this).attr("href"), ".jpg") || endsWith($(this).attr("href"), ".png"))
          $(this).addClass("fancybox");
    });
  </script>
</body>
</html>
