  <div class="footer">
    <div class="contact">
      Andreas Bihlmaier &ltandreas.bihlmaier@gmx.de&gt
    </div>
    <div class="rss">
      <a href="/feed.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" height=20px/>
      </a>
    </div>
  </div>
  <img src="http://bihlmaier.org/analytics/blog.jpg" height=1px />
  <script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox(
          {
          closeClick : true
          }
        );
    });
    function startsWith(str, suffix) {
          return str.indexOf(suffix) !== -1;
    }
    function endsWith(str, suffix) {
          return str.indexOf(suffix, str.length - suffix.length) !== -1;
    }
    $("img").each(function(index) {
        var imgURL = $(this).attr("src");
        if (startsWith(imgURL, "/images/small/") || startsWith(imgURL, "/images/medium/")) {
            var largeImgURL = imgURL.replace("small/", "large/").replace("medium/", "large/");
            $(this).wrap("<a class=\"fancybox\" href=\"" + largeImgURL + "\"></a>");
        }
    });
  </script>
</body>
</html>
