<!DOCTYPE html>
<html>
<head>
  <link href="/css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="top">
    <h1><a href="/index.html">Open-Source, Robotics, ...</a></h1>
  </div>
  <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/js/jquery.imagemapster.min.js"></script>
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
